* {
  font-size: 15px;
}
body {
  background-color: #fffffa;
}
h1 {
  font-size: 50px;
}
.content-centre,
.book-page-front,
.book-page-back {
  display: flex;
  justify-content: center;
  align-items: center;
}
#book-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  min-width: 1200px;
  min-height: 800px;
  border: solid 2px;
  transform-style: preserve-3d;
  perspective: 500;
}
.book-page,
.book-page-front,
.book-page-back {
  position: absolute;
  width: 600px;
  height: 800px;
  border: solid 2px black;
  transform: rotateX(30deg);
  background-color: #fffff5;
  left: calc(5% + 602px);
  transform-origin: 0 50%;
  border-radius: 30px;
}
.book-page-front {
  z-index: 0;
  transform: rotateX(0deg);
  top: 0;
  left: 0;
}
.book-page-back {
  z-index: -1;
  transform: rotateX(0deg) rotateY(180deg) translateX(-602PX);
  top: 0;
  left: 0;
}
.book-footer {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 460px;
  border-radius: 50%;
  background-color: #fffffa;
  border-bottom: -5px solid black transparent;
  border-top: 2px solid black;
  z-index: 2;
}
.book-footer:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 605px;
  height: 30px;
  top: 20px;
  background-color: #fffffa;
}
.book-footer-left {
  transform: skewX(-30deg);
  left: -webkit-calc(-1.414px);
}
#book-front {
  z-index: 3;
}
.stop-play {
  animation-play-state: running;
}
#nav-ca {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 0;
  width: 600px;
  height: 50px;
  left: calc(50% - 250px);
  z-index: 2;
}
#book-black {
  z-index: -1;
}
#nav-ca div {
  position: absolute;
  top: 0;
  display: inline-block;
  font-size: 35px;
  margin-top: 0;
  margin-right: 120px;
  border: 2px gray solid;
  width: 50px;
  height: 1px;
  background: radial-gradient(circle, red 60%, yellow, white);
  -webkit-line-clamp: 0;
  border-radius: 3px;
  z-index: 2;
  transition-duration: 2s;
}
#nav-ca div a {
  position: absolute;
  font-size: 35px;
  color: #ffffff;
  text-shadow: 2px 1px 5px black;
  top: 0;
  left: 0;
  text-align: center;
  width: 50px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
  transition-duration: 2s;
}
.extend,
#nav-ca div:hover,
#nav-ca div a:hover {
  cursor: pointer;
  height: 100px;
  transition-duration: 2s;
}
#nav-ca div:hover {
  z-index: 0;
}
#nav-ca div:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 15px;
  bottom: -15px;
  left: -5px;
  border: 1px solid black;
  z-index: 2;
  background: radial-gradient(white, red, brown);
}
#nav-ca div:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 15px;
  bottom: -15px;
  left: -20px;
  border: 1px solid black;
  border-radius: 10px;
  background: radial-gradient(white, yellow, brown);
}
@keyframes turn {
  from {
    transform: rotateX(30deg) rotateY(0deg);
  }
  to {
    transform: rotateX(30deg) rotateY(-180deg);
  }
}
@keyframes up-index {
  from {
    z-index: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes low-index {
  from {
    z-index: 2;
    opacity: 1;
  }
  to {
    z-index: 0;
    opacity: 0;
  }
}
